body {
    font-family: Times, serif;
}

.access {
    font-family: Consolas, Monaco, monospace;
}

.title { font-weight: bold; }
.copyright { font-size: small; font-style: italic; }
.isbn { font-size: small; }

.copyright, .isbn { margin: 2px 0; }

@media (min-width: 701px) {
    #top {
        margin-bottom: 20px;
    }
    #logo {
        float: left;
    }
    h1 {
        font-size: 128px;
        line-height: 128px;
        margin: 0 0 5px 150px;
    }
    #query {
        width: 500px;
    }
    #advanced {
        margin-top: 4px;
    }
    #pages {
        font-weight: bold;
        margin-right: 5px;
    }

    .book {
        display: table;
        width: 1px;
        float: left;
        padding: 0 3px;
        text-align: center;
    }
    .book img {
        height: 300px;
    }
    .words {
        height: 165px;
        overflow-y: auto;
    }
    .access {
        font-size: small;
        line-height: 20px;
    }
}

@media (max-width: 700px) {
    #top {
        display: table;
    }
    #logo {
        display: table-cell;
        height: 48px;
        width: 48px;
        margin-right: 10px;
    }
    #query {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        height: 36px;
        box-sizing: border-box;
    }
    h1, #go, #help, #advanced {
        display: none;
    }
    form {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }

    .book {
        clear: both;
        overflow: hidden;
        margin: 5px 0;
        padding: 5px;
        border: 1px dotted black;
    }
    .book img {
        width: 30%;
        float: left;
        margin-right: 10px;
    }
    .access {
        font-size: xx-large;
    }
}
