#logo {
    float: left;
}
h1 {
    font-size: 110px;
    margin: 0 0 5px 150px;
}
.book {
    display: table;
    float: left;
    padding: 0 3px;
}
.book img {
    height: 300px;
}
.book div {
    display: table-caption;
    caption-side: bottom;
    height: 130px;
    overflow: auto;
    text-align: center;
}
.book a {
    font-family: monospace;
}
