{% for doc in documents %}
    <div class="book">
        <img src="{{ config.COVERS_BASE }}{{ doc['_id'] }}.y300" alt="{{ doc['title'] }}">
        <div class="words">
            <div class="details">
                <div class="title">{{ doc['title'] }}</div>
                <div class="volume">{{ doc['volume'] }}{{ ', ' if doc['volume'] is defined and doc['edition'] is defined }}{{ doc['edition'] }}</div>
                <div class="copyright">&copy; {{ doc['copyright'] }} {{ doc['publisher'] }}</div>
                <div class="isbn">ISBN {{ doc['isbn_10'] }}/{{ doc['isbn_13'] }}</div>
            </div>
            <div class="access">
            {%- for method, data in doc['access']|dictprioritize %}
                <div{{ ' class="canonical"'|safe if loop.first }}>
                    {%- if data is list %}
                    {{ method }}
                    {% for index in range(data|length) %}
                    <a href="/link/{{ doc['_id'] }}/{{ method }}/{{ index }}">{{ index }}</a>
                    {% endfor %}
                    {% else %}
                    <a href="/link/{{ doc['_id'] }}/{{ method }}">{{ method }}</a>
                    {% endif %}
                </div>
            {%- endfor %}
            </div>
        </div>
    </div>
{% endfor %}
